fastapi==0.115.0
uvicorn[standard]==0.32.0
redis==5.2.0
python-dotenv==1.0.1
requests==2.32.3
docker==7.1.0
google-generativeai==0.8.3
openai==1.54.4
kaggle==1.6.17
slowapi==0.1.9
python-json-logger==3.1.0
taskiq==0.11.7
taskiq-fastapi==0.3.2
taskiq-redis==1.0.2
boto3==1.35.36
aiobotocore==2.15.2
aiofiles==24.1.0
pydantic==2.12.3 
pydantic-settings==2.11.0
selenium==4.26.1
markdownify==0.13.1
webdriver-manager==4.0.2
async-cache==1.1.1